*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-color:seagreen;
}
.hero{
    position:relative;
    width:65%;
    height:100vh;
}
nav{
    display:flex;
    width:84%;
    margin-left: 60%;
    padding:10px 0;
    align-items:center;
    justify-content:space-between;
}
nav ul li{
    display:inline-block;
    list-style:none;
    margin:20px 40px;
}
nav ul li a{
    text-decoration: none;
    color:#000;
    font-weight: bold;
}
nav ul li a:hover{
    color:red;
}
.hansika{
    margin-left:8%;
    margin-top:15%;
}
.hansika h1{
    font-size:50px;
    color:#212121;
    margin-bottom:20px;
}
span{
    color:orange;
}
.hansika p{
    color:black;
    line-height: 22px;
}
.hansika a{
    background:#212121;
    padding:10px 18px;
    text-decoration:none;
    font-weight:bold;
    color:#fff;
    display:inline-block;
    margin:30px 0;
    border-radius:5px;
}